In [3]:
x = 2
y = 3

if x > y:
    print('ya benar')
if x < y:
    print('ya benar')
if x == y:
    print('ya benar')
if x <= y:
    print('ya benar')

ya benar
ya benar

In [4]:
print('we' in ['we', 'wa', 'wo'])

True

In [10]:
# Python memerlukan indentasi
x = 2
y = 3

if x < y:
    if y<x:   
        pass
    print('ya benar')

ya benar

In [13]:
harga_jeruk = 50000
standar_harga = 30000

#apabila jeruk lebih dari standar harga, maka jeruk mahal dan apabila kurang dari standar, maka jeruk murah

if harga_jeruk > standar_harga:
    print("MAHAL")
elif harga_jeruk<standar_harga:
    print('Murah')
elif harga_jeruk == standar_harga:
    print('Biasa')

MAHAL

In [15]:
harga_jeruk = 30000
standar_harga = 30000

#apabila jeruk lebih dari standar harga, maka jeruk mahal dan apabila kurang dari standar, maka jeruk murah

if harga_jeruk > standar_harga:
    print("MAHAL")
else:
    print('Murah')

Murah

In [29]:
harga_jeruk = 50000
standar_harga = 30000

#apabila jeruk lebih dari standar harga, maka jeruk mahal dan apabila kurang dari standar, maka jeruk murah

if harga_jeruk > standar_harga: print("MAHAL"); print('Banget'); print(1+1)
    
elif harga_jeruk<standar_harga:
    print('Murah')
elif harga_jeruk == standar_harga:
    print('Biasa')

MAHAL
Banget
2

Conditional Express

In [32]:
umur = 37
s = 'Tua' if umur >= 35 else 'Muda'
print(s)

Tua

In [36]:
nama = 'Tassyi'
n = 'In Class' if nama in ['Fachri', 'Rahmat', 'Nunu'] else 'Out of Class'
print(n)

Out of Class

In [34]:
harga_jeruk = 50000
standar_harga = 30000
ulang_tahun = 1997
#apabila jeruk lebih dari standar harga, maka jeruk mahal dan apabila kurang dari standar, maka jeruk murah

if harga_jeruk > standar_harga:
    print("MAHAL")
elif harga_jeruk == ulang_tahun:
    pass
elif harga_jeruk<standar_harga:
    print('Murah')
elif harga_jeruk == standar_harga:
    print('Biasa')

MAHAL

In [38]:
harga_jeruk = 20000
standar_harga = 30000
ulang_tahun = 1997
#apabila jeruk lebih dari standar harga, maka jeruk mahal dan apabila kurang dari standar, maka jeruk murah

if harga_jeruk > standar_harga:
    print("MAHAL")
else:
    pass

In [3]:
print('berapa gaji Anda')
gaji = int(input())

print('berapa tahun Anda kerja')
tahun = int(input())

if tahun > 10:
    gaji_plus = gaji + (gaji * (10/100))
    print('total gaji anda adalah IDR' + str(gaji_plus))
else : pass

berapa gaji Anda
10000000
berapa tahun Anda kerja
15
total gaji anda adalah IDR11000000.0

Quiz 2

In [4]:
print('berapa gaji Anda')
gaji = int(input())

print('berapa tahun Anda kerja')
tahun = int(input())

if tahun > 10:
    gaji_plus = gaji + (gaji * (10/100))
    print('total gaji anda adalah IDR' + str(gaji_plus))
else : pass

berapa gaji Anda
200000
berapa tahun Anda kerja
5

## LOOP

In [9]:
for i in ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']:
    print(i+'ayam')

fooayam
barayam
bazayam
quxayam
quuxayam
corgeayam

In [10]:
for i in [1,2,3,4]:
    print(i+1)

2
3
4
5

## objek yang bisa dilakukan looping adalah iterable (string, list, tuplem dictionary, dsb)

In [12]:
for i in 'string':
    print(i)

s
t
r
i
n
g

In [14]:
apel = 5
while apel>0:
    apel-=1
    print(apel)

4
3
2
1
0

In [13]:
apel = 5
apel -= 1
print(apel)

4

In [15]:
apel = 5
while apel > 0:
    apel -=1
    if apel ==1:
        print('dikit lagi nich')
    else:
        print(apel)

4
3
2
dikit lagi nich
0

In [18]:
# break
apel = 5
while apel > 0:
    apel -= 1
    if apel == 2:
        break
    print(apel)
print('Loop End')

4
3
Loop End

In [19]:
# continue melanjutkan loop berdasarkan kondisi
apel = 5
while apel > 0:
    apel -= 1
    if apel == 2:
        continue
    print(apel)
print('Loop End')

4
3
1
0
Loop End

In [22]:
# else
apel = 10
print('Mau bagi apel nich')
while apel > 0:
    apel -=2
    print(apel)
else: print('da abis yh')

Mau bagi apel nich
8
6
4
2
0
da abis yh

In [23]:
apel = 5
while apel > 0:
    apel -= 1
    print(apel)
    if apel == 2:
        break
else: print('DAH Y')

4
3
2

In [29]:
#Nested If
umur = 42
gender = 'M'
if umur < 18:
    if gender == 'M':
        print('Son')
    else:
        print('Daughter')
        
if umur >=18 and umur <65:
    if gender == 'M':
        print('Dad')
    else:
        print('Mom')

Dad

In [31]:
#WHILE LOOP
apel = 5
while apel>0: apel -=1; print(apel)

4
3
2
1
0

In [32]:
a = [1,2,3,4,5,6]
for i in  a:
    print(i)

1
2
3
4
5
6

In [33]:
#NESTED FOR LOOP
b = ['Budi', 'Joko', 'Anwar']
for i in b:
    print(i)

Budi
Joko
Anwar

In [ ]:
#NESTED FOR LOOP
b = ['Budi', 'Joko', 'Anwar']
for i in b:
    for j in i:
        print(j)

In [38]:
#NESTED FOR LOOP
b = ['Budi', 'Joko', 'Anwar']
for i in b:
    if i == 'Joko':
        break
    for j in i:
        print(j)

B
u
d
i

In [44]:
dictionary_a = {'A':'Bekasi', 'B':'Jakarta', 'C':"Medan"}
for i in dictionary_a:
    print(dictionary_a.values())

dict_values(['Bekasi', 'Jakarta', 'Medan'])
dict_values(['Bekasi', 'Jakarta', 'Medan'])
dict_values(['Bekasi', 'Jakarta', 'Medan'])

In [46]:
dictionary_a = {'A':'Bekasi', 'B':'Jakarta', 'C':"Medan"}
for i in dictionary_a:
    print(dictionary_a[i])

Bekasi
Jakarta
Medan

In [48]:
dictionary_a = {'A':'Bekasi', 'B':'Jakarta', 'C':"Medan"}
for i in dictionary_a:
    if i == 'A':
        print(dictionary_a[i])

Bekasi

In [56]:
for i in ['Aster', 'Jubah', 'Nambo', 'Hachi']:
    if 'a' in i:
        continue
    print(i)

Aster

## Loop itu keselurhan iterasi objek 1 loop diatas 4 iterasi
## Iterasi adalah istilah untuk 1 putaran loop
## Continue akan memberhentikan dan lanjut ke iterasi berikutnya
## break membenrthatikan looping selurruhnay

pass untuk if
break untuk for

In [58]:
for i in ['Aster', 'Jubah', 'Nambo', 'Hachi']:
    print(i)
else:
    print('Loop done ea')

Aster
Jubah
Nambo
Hachi
Loop done ea

In [59]:
for i in ['Aster', 'Jubah', 'Nambo', 'Hachi']:
    if 'b' in i:
        break
    print(i)
else:
    print('Loop Done')

Aster

In [61]:
dictionary_a = {'A':'Bekasi', 'B':'Jakarta', 'C':"Medan"}
for i in dictionary_a.values():
    print(i)

Bekasi
Jakarta
Medan

In [62]:
print(range(5))

range(0, 5)

In [63]:
for i in range(100):
    print(i+1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [64]:
dictionary_a.items()

dict_items([('A', 'Bekasi'), ('B', 'Jakarta'), ('C', 'Medan')])

In [66]:
a = [1,2,3]
b = [4,5,6]
for i,j in zip(a,b):
    print(i,j)

1 4
2 5
3 6

In [67]:
print(zip(a,b))

<zip object at 0x00000174BA919A00>

In [68]:
a = [1,2,3]
b = ['TA','ZA','SA']
for i,j in zip(a,b):
    print(i,j)

1 TA
2 ZA
3 SA

In [90]:
a = [1,2,3]
b = [4,5,6]
c = [7,8,9]
for i,j,k in zip(a,b,c):
    print(i+j+k)

12
15
18

In [87]:
x = 1
while x < 21:
    if x % 2 != 0:
        print(x)
    else:
        print('GENAP')
    x += 1

1
GENAP
3
GENAP
5
GENAP
7
GENAP
9
GENAP
11
GENAP
13
GENAP
15
GENAP
17
GENAP
19
GENAP