## Integer = Bilangan Bulat

In [7]:
print(1000000000000)

1000000000000

In [6]:
1
2
3
4
5
6

6

In [8]:
print(3)
print(type(3))

3
<class 'int'>

## FLOAT

In [10]:
print(3.5)
print(3,5)

3.5
3 5

In [11]:
print(type(2.3))

<class 'float'>

In [12]:
print(4.2e-4)

0.00042

In [14]:
print(type(4.2e7))

<class 'float'>

## String

In [3]:
print('halo')

halo

In [4]:
print('saya')

saya

In [15]:
print("Nama Saya adalah Tassyi")

Nama Saya adalah Tassyi

In [18]:
print(type('Tassyi membaca buku'))

<class 'str'>

## Boolean

In [19]:
True
False

False

In [20]:
print(True)

True

In [21]:
print(False)

False

In [22]:
print(type(True))

<class 'bool'>

Ada 4 Data Types yg sering digunakan
* Integer
* Float
* String
* Boolean

## Variable

In [25]:
angka = 300
print(angka)
print(type(angka))

300
<class 'int'>

In [26]:
teks = 'Haha'
print(teks)
print(type(teks))

Haha
<class 'str'>

In [27]:
a = b = c = 300
print(a,b,c)

300 300 300

In [29]:
print(b)
print(type(b))

300
<class 'int'>

In [30]:
rumah_saya = 'Bekasi'
print(rumah_saya)

Bekasi

In [32]:
rumah = 'Bekasi'
Rumah = 'Jakarta'

print(rumah, Rumah)

Bekasi Jakarta

In [34]:
# Nama variabel tidak boleh dimulai dengan angka
# 0_rumah = 'a'
# tapi

rumah_0 = 'a'
print(rumah_0)

a

## Arithmetic Operators

In [37]:
a = 10
b = 20

#Penambahan
print(a+b)

#Pengurangan
print(a-b)

#Perkalian
print(a*b)

#Pembagian
print(a/b)

30
-10
200
0.5

In [40]:
#melakukan pembulatan ke bawah
print(a//b)

print(3/2)
print(3//2)

print(type(3/2))
print(type(3//2))

0
1.5
1
<class 'float'>
<class 'int'>

In [42]:
# Modulo (%)
print(7/2)
print(7%2) # 3 sisa 1

print(11%2)
print(10%2)

3.5
1
1
0

In [44]:
# Pangkat (**)
print (7**2)
print(2**2)

49
4

### QUIZ 1

In [45]:
print('Konversi Celcius to Fahrenheit')

celcius = 30
fahrenheit = (9/5 * celcius) + 32

print(fahrenheit)

Konversi Celcius to Fahrenheit
86.0

## Comparison Operators

In [47]:
c = 10
d = 30
e = 10

#Persamaan (==)
print(c==d)
print(c==e)

False
True

In [50]:
print(c>d)
print(c<d)
print(c>=d)
print(c<=d)
print(c<=e)
print(c>=e)

False
True
False
True
True
True

In [51]:
# Tidak sama dengan / Not Equal (!=)
print(c!=d)
print(c!=e)

True
False

In [53]:
rumah1 = 'bekasi'
rumah2 = 'Jakarta'
rumah3 = 'Jakarta'
print(rumah1 == rumah3)
print(rumah1 != rumah3)
print(rumah2 == rumah3)

False
True
True

In [59]:
print(c & e != d)
print(10 & 20)

True
0

## String Manipulation

In [62]:
# Opeerator +
s = 'foo'
t = 'bar'
u = 'baz'

print(s+t)
print(s+t+u)

foobar
foobarbaz

In [65]:
# Operator *
print(s*12)

foofoofoofoofoofoofoofoofoofoofoofoo

In [66]:
#Operator in
a = 'buah'
print(a in 'Saya mau beli buah')
print(a in 'Saya mau beli singkong')

True
False

In [69]:
print( a in ['buah', 'ayam'])

True

In [70]:
# Case Conversation
b = 'BUAH'
print(b.lower())

buah

In [73]:
c = 'aPasIChh'
print(c.capitalize())
print(c.upper())

Apasichh
APASICHH

In [78]:
d = 'Saya Mau maKAn'
print(d.capitalize())
print(d.title())
print(d.swapcase())
print(d.lower())

Saya mau makan
Saya Mau Makan
sAYA mAU MAkaN
saya mau makan

## Python Lists

order . . terurut

In [82]:
a = ['saya', 'mau', 'makan']
c = ['makan', 'saya', 'mau']
print(a)

['saya', 'mau', 'makan']

In [81]:
b = ['saya', 1, True, 3.7]
print(b)

['saya', 1, True, 3.7]

In [83]:
print(a==c)

False

In [84]:
# List can be accessed by Index

a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print (a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [85]:
#indexing
print(a[0])
print(a[3])

foo
qux

In [86]:
print(a[-6])

foo

In [87]:
print(a[-6]==a[0])

True

In [88]:
x = 'budi'
print(x[-1])

i

In [91]:
# Slicing
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a[1:6])

['bar', 'baz', 'qux', 'quux', 'corge']

In [95]:
x = 'budi'
print(x[1:3])
print(a[1:])
print(a[:])

ud
['bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [97]:
y = 'Jaka Tingkir Suryanegara'
print(y[5:])
print(y[:5])

Tingkir Suryanegara
Jaka

## Prisip Slicing = [start : stop : step]

In [103]:
y = 'Jaka Tingkir Suryanegara'
print(y[0::2])
print(y[0::1])
print(y[0::3])
print(y[::-1])

Jk igi uyngr
Jaka Tingkir Suryanegara
Jaik rna
aragenayruS rikgniT akaJ

## QUIZ 2

In [119]:
a = 'komitmen'

print(a[3])
print(a[1:4])
print(a[4:])
print(a[::2])
print(a[0]+a[2]+a[4]+a[7])

i
omi
tmen
kmte
kmtn

In [124]:
print(a.index('m'))
print(a[0:5:2]+a[a.index('n')])

2
kmtn

## Modify List Values Based on Its Index

In [126]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a[a.index('foo')] = 'faa'
print(a)

['faa', 'bar', 'baz', 'qux', 'quux', 'corge']

In [130]:
a[a.index('faa')] = 20
a[-1]='corgi'

ValueError: 'faa' is not in list

In [131]:
print(a)

[20, 'bar', 'baz', 'qux', 'quux', 'corgi']

In [132]:
# del command
del a[a.index('quux')]
print(a)

[20, 'bar', 'baz', 'qux', 'corgi']

In [133]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'quux']
a[0:3] = [1,2,3]
print(a)

[1, 2, 3, 'qux', 'quux', 'corge', 'quux']

## Tuple

tuple ga bisa diremove kayak list
ada juga set, tapi dia ga peduli urutan

In [134]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'quux')
print(type(t))

<class 'tuple'>

In [136]:
print(t[0:3])

('foo', 'bar', 'baz')

In [137]:
t[0] = 1

TypeError: 'tuple' object does not support item assignment

## Dictionary

In [139]:
#key di kiri values di kanan
# banyak berhubungan dengan tabel
MLB_team = {
    'Colorado' : 'Rockies',
    'Boston' : 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle' : 'Mariners'
}

print(MLB_team['Colorado'])

Rockies

In [140]:
print(MLB_team['Boston'])

Red Sox

In [141]:
#nambah key dan values
MLB_team['Kansas City'] = 'Royals'
print(MLB_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners', 'Kansas City': 'Royals'}

In [142]:
# Update values
MLB_team['Seattle'] = 'Seahawks'
print(MLB_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Seahawks', 'Kansas City': 'Royals'}

In [143]:
# del command
del MLB_team['Colorado']
print(MLB_team)

{'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Seahawks', 'Kansas City': 'Royals'}

In [144]:
orang = {}
print(type(orang))

<class 'dict'>

In [149]:
orang['Nama'] = 'Tassyi'
orang['Jurusan'] = 'Informatika'
orang['Umur'] = 20
orang['Teman'] = {'Raissa' : 'Kedokteran','Izza' : 'Matematika'}
orang['Motor'] = ['Scoopy', 'Beat']

print(orang)

{'Nama': 'Tassyi', 'Jurusan': 'Informatika', 'Umur': 20, 'Teman': {'Raissa': 'Kedokteran', 'Izza': 'Matematika'}, 'Motor': ['Scoopy', 'Beat']}

In [150]:
print(orang['Teman']['Raissa'])

Kedokteran

## Line Continuation

In [151]:
print(True and True)
print(True and False)
print(True or True)
print(True or False)
print(False and False)
print(False and True)

True
False
True
True
False
False

In [153]:
umur1 = 42
umur2 = 16
umur3 = 71

print(umur1>=18 and umur1<=65)
print(umur2>=18 and umur2<=65)
print(umur3>=18 and umur3<=65)

True
False
False

### How to check one of them is of working age

In [154]:
print((umur1>=18 and umur1<=65) or (umur2>=18 and umur2<=65) or (umur3>=18 and umur3<=65))

True

## Materi Tambahan

In [155]:
mobil = 'Toyota'
kendaraan = mobil

In [159]:
mobil = 'Toyota'
kendaraan = mobil

kendaraan = kendaraan + ' kijang'
print(kendaraan)

Toyota kijang

In [160]:
mobil = ['Toyota', 'Kijang']
mobil.append('Isuzu')
print(mobil)

['Toyota', 'Kijang', 'Isuzu']

In [161]:
buah = ['Pisang', 'Jeruk', 'Apel']
buah.pop()
print(buah)

['Pisang', 'Jeruk']

In [162]:
buah = ['Pisang', 'Jeruk', 'Apel']
buah.pop(1)

'Jeruk'

In [166]:
kendaraan = mobil.copy()

print(kendaraan)

['Toyota', 'Kijang', 'Isuzu']

In [168]:
kendaraan.append('Innova')
print(mobil)
print(kendaraan)

['Toyota', 'Kijang', 'Isuzu']
['Toyota', 'Kijang', 'Isuzu', 'Innova', 'Innova']

In [171]:
# pop diinput index, remove diinput nama objectnya

kendaraan.remove('Innova')

In [172]:
print(kendaraan)

['Toyota', 'Kijang', 'Isuzu']